name: Test Rust

on:
    push:
        branches: ["main", "develop"]
        paths:
            - "./src/**"
            - "./Cargo.toml"
    pull_request:
        branches: ["main", "develop"]
        paths:
            - "./src/**"
            - "./Cargo.toml"

env:
    CARGO_TERM_COLOR: always

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - name: Build
              run: cargo build --verbose
            - name: Run tests
              run: cargo test --verbose
